<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Беспилотная техника</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>


    <ul>
        <li style="font-size: 24px; font-family: 'GothaProLig';">font-family: 'GothaProLig';</li>
        <li style="font-size: 24px; font-family: 'GothaProReg';">font-family: 'GothaProReg';</li>
        <li style="font-size: 24px; font-family: 'GothaProMed';">font-family: 'GothaProMed';</li>
        <li style="font-size: 24px; font-family: 'GothaProBol';">font-family: 'GothaProBol';</li>
        <li style="font-size: 24px; font-family: 'GothaProBla';">font-family: 'GothaProBla';</li>
    </ul>


</body>

</html>