<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Беспилотная техника</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>


    <ul>
        <li style="font-size: 24px; font-family: 'GothaProBla';">font-family: 'GothaProBla';</li>
        <li style="font-size: 24px; font-family: 'GothaProBol';">font-family: 'GothaProBol';</li>
        <li style="font-size: 24px; font-family: 'GothaProLig';">font-family: 'GothaProLig';</li>
        <li style="font-size: 24px; font-family: 'GothaProMed';">font-family: 'GothaProMed';</li>
        <li style="font-size: 24px; font-family: 'GothaProReg';">font-family: 'GothaProReg';</li>
    </ul>


</body>

</html>

<!-- 1. Постол Света 
Приват 5168 7426 0479 3087
11 557.50

2. Кружнова Таня		
Приват 4149 4991 3702 8104
10 626 -->

<!-- 3. Кантемир Сана
Альфа 5355 5711 0606 1542
10 488 -->

<!-- 4. Антонцева Юля 
Приват 5168 7573 9045 2490
8 590.50 -->

<!-- 5. Юля Сивоконь   		
Приват 5168 7551 0351 3830
8 625 -->
<!-- 
6. Заприй Елена 
Приват 5168 7422 2050 7994
5 002.50 -->
<!-- 
7. Дуб Михаил            
Приват 4149 6293 8168 0719
7 866 -->