<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Беспилотная техника</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/loaded.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo-social">
                    <a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
                    <ul class="social">
                        <li><a href="javascript:void(0)"><i class="icon-telegram"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-twitter"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
                    </ul>
                    <ul class="languages">
                        <li>
                            <a href="javascript:void(0)">Ru</a>
                            <ul>
                                <li><a href="javascript:void(0)">En</a></li>
                                <li><a href="javascript:void(0)">De</a></li>
                                <li><a href="javascript:void(0)">Fi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="nav">
                    <ul class="menu" id="menu">
                        <li><a class="menu-links" data-menuanchor="secondPage1" href="#secondPage1">Моторы</a></li>
                        <li><a class="menu-links" data-menuanchor="secondPage2" href="#secondPage2">Проекты</a></li>
                        <li><a class="menu-links" data-menuanchor="secondPage4" href="#secondPage4">Партнеры</a></li>
                        <li><a class="menu-links" data-menuanchor="secondPage5" href="#secondPage5">Контакты</a></li>
                    </ul>
                    <span class="open-menu">
                    <span></span>
                    </span>
                </div>
            </div>
        </div>
    </header>

    <div id="fullpage">
        <div id="section0" class="banner section">
            <div class="container">
                <div class="banner-left">
                    <span class="banner-title">МОТ</span>
                    <div class="content">
                        <div class="info"><i>?</i></div>
                        <img src="../img/banner-left-img.png" alt="">
                        <a href="javascript:coid(0)">Скачать буклет</a>
                    </div>
                </div>
                <div class="banner-right">
                    <span class="banner-title">ОРЫ</span>
                    <div class="content">
                        <img src="../img/banner-right-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="section1" class="section">
            Проекты
        </div>
        <div id="section2" class="section">
            Решения
        </div>
        <div id="section3" class="section">
            Партнеры
        </div>
        <div id="section4" class="section">
            контакты
        </div>
    </div>




    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/fullpage.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script>
    </script>
</body>

</html>