<header>
    <div class="container">
        <div class="header-content">
            <div class="logo-social">
                <a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
                <ul class="social">
                    <li><a href="javascript:void(0)"><i class="icon-telegram"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-twitter"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
                </ul>
                <ul class="languages">
                    <li>
                        <a href="javascript:void(0)">Ru</a>
                        <ul>
                            <li><a href="javascript:void(0)">En</a></li>
                            <li><a href="javascript:void(0)">De</a></li>
                            <li><a href="javascript:void(0)">Fi</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="nav">
                <ul class="menu" id="menu">
                    <li><a href="#secondPage1">Моторы</a></li>
                    <li><a href="#secondPage2">Проекты</a></li>
                    <li><a href="#secondPage4">Партнеры</a></li>
                    <li><a href="#secondPage5">Контакты</a></li>
                </ul>
                <span class="open-menu">
                    <span></span>
                </span>
            </div>
        </div>
    </div>
</header>