
.icon-close:before { content: '\e800'; } /* '' */
.icon-telegram:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */